.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 50px;
  padding: 20px;
  color: white;
}

.App-title {
  margin-bottom: 0.5em;
  font-size: 1.5em;
}

.navLink {
  color: #ddd;
}

.active {
  color: #fff;
}